* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh !important;
  font-weight: 500;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.title-clashDisplay {
  font-family: 'ClashDisplay-Semibold', sans-serif;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'ClashDisplay-Medium', sans-serif;
}
